<div class="host">

  <section class="heading">

    <div class="image">
      <img src="/assets/images/featured.jpg" alt="Schemata">
    </div>

    <div class="text">
      <h1>Schemata</h1>
      <p>An Angular Starter UI Kit.</p>
    </div>
  
    <div class="cta">
      <a
        class="button-primary-xl"
        [usefulRouterLink]="['guides']"
      >Use it now!</a>
      <a
        class="source-code button-outline-medium-xl"
        href="https://github.com/lamnhan/schemata"
        target="_blank"
      >
        <i class="icon icon-github"></i>
        <span>Source code</span>
      </a>
    </div>

  </section>
  
  <section class="installation">

    <div class="title">Installation</div>

    <div class="body">
      <nguix-content [content]="installContent"></nguix-content>
    </div>

  </section>

</div>
