<div class="host" *ngIf="name">

  <section class="heading">
    <h2>{{ titleName }}</h2>
    <div class="body">
      <p>Collection url (replace <strong>[PROJECT_ID]</strong>):</p>
      <p><a [href]="collectionUrl" target="_blank">{{ collectionUrl }}</a></p>
    </div>
  </section>

  <section class="usage margin-top-3x" *ngIf="usageContent">
    <h3 class="title">Usage</h3>
    <div class="body">
      <nguix-content [content]="usageContent"></nguix-content>
    </div>
  </section>

  <section class="security margin-top-3x" *ngIf="securitySrc">
    <h3 class="title">Security rule</h3>
    <div class="body">
      <nguix-content [contentSrc]="securitySrc"></nguix-content>
    </div>
  </section>

  <section class="api margin-top-3x" *ngIf="apiSrc">
    <h3 class="title">API</h3>
    <div class="body">
      <nguix-content [contentSrc]="apiSrc"></nguix-content>
    </div>
  </section>

</div>